<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Insta485{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('show_index') }}">home</a>
        <a href="{{ url_for('show_explore') }}">explore</a>
        <a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>