
{% extends "base.html" %}

{% block content %}
<div class="followers-page">
    <h1>Followers</h1>
    {% for follower in followers %}
    <div class="user-row">
        <img src="{{ follower.user_img_url }}" alt="{{ follower.username }}" class="avatar">
        <a href="{{ url_for('show_user', user_url_slug=follower.username) }}">{{ follower.username }}</a>
        
        {% if follower.logname_follows_username == "following" %}
            <form action="{{ url_for('update_following') }}?target={{ request.url }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" name="unfollow" value="unfollow">
                <input type="hidden" name="username" value="{{ follower.username }}">
                <input type="hidden" name="operation" value="unfollow">
            </form>
        {% elif follower.logname_follows_username == "not following" %}
            <form action="{{ url_for('update_following') }}?target={{ request.url }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="submit" name="follow" value="follow">
                <input type="hidden" name="username" value="{{ follower.username }}">
                <input type="hidden" name="operation" value="follow">
            </form>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
