{% extends "base.html" %}

{% block content %}
<div class="password-page">
    <h1>Change Password</h1>
    <form action="{{ url_for('update_account') }}?target={{ url_for('show_edit') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="password" name="password" placeholder="Current Password" required>
        <input type="password" name="new_password1" placeholder="New Password" required>
        <input type="password" name="new_password2" placeholder="Confirm New Password" required>
        <input type="submit" name="update_password" value="submit">
        <input type="hidden" name="operation" value="update_password">
    </form>
    
    <p><a href="{{ url_for('show_edit') }}">Back to Edit Profile</a></p>
</div>
{% endblock %}